* {
  font-family: "Hack Nerd Font", FontAwesome, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  background-color: #252537;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #f2f2f2;
}

window#waybar.hidden {
  opacity: 0.2;
}

label.module,
box.module {
  padding: 4px 4px;
}

#workspaces button {
  padding: 0 4px;
  margin: 0 2px;
  border: none;
  color: #d9d9d9;
  transition-property: color;
  transition-duration: 0.1s;
}

#workspaces button.focused,
#workspaces button.active {
  color: #788ced;
}
