* {
  font-family: "Hack Nerd Font", FontAwesome, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(31, 34, 46, 0.8);
  color: #e0e0e0;
}

window#waybar.hidden {
  opacity: 0.2;
}

label.module,
box.module {
  padding: 4px 4px;
}

#workspaces button {
  padding: 0 4px;
  margin: 0 2px;
  border: none;
  color: #e0e0e0;
  transition-property: color;
  transition-duration: 0.1s;
}

#workspaces button.focused,
#workspaces button.active {
  color: #dea57c;
}
