/config.txt
/config.sh

/.tmp/

/home/**
/home/.**

!/home/
!/home/.gitmessage
!/home/.bin/
!/home/.bin/*
!/home/.config/
!/home/.config/alacritty/
!/home/.config/alacritty/*.toml
!/home/.config/btop/
!/home/.config/btop/*
!/home/.config/btop/themes/*
!/home/.config/cspell/
!/home/.config/cspell/cspell.json
!/home/.config/cspell/dictionary.txt
!/home/.config/fastfetch/
!/home/.config/fastfetch/config.jsonc
!/home/.config/fcitx5/
!/home/.config/fcitx5/*
!/home/.config/fish/
!/home/.config/fish/config.fish
!/home/.config/hypr/
!/home/.config/hypr/*.conf
!/home/.config/mako/
!/home/.config/mako/config
!/home/.config/niri/
!/home/.config/niri/config.kdl
!/home/.config/nvim/
!/home/.config/nvim/*.lua
!/home/.config/nvim/lua/
!/home/.config/nvim/lua/**
!/home/.config/nvim/lsp/
!/home/.config/nvim/lsp/**
!/home/.config/rofi/
!/home/.config/rofi/config.rasi
!/home/.config/tmux/
!/home/.config/tmux/tmux.conf
!/home/.config/waybar/
!/home/.config/waybar/config.jsonc
!/home/.config/waybar/style.css
!/home/.config/chrome-flags.conf
