/*
/.**

!/docs/
!/docs/*.md

!/packages/
!/packages/*.txt

!/scripts/
!/scripts/*.sh

!/.config/
!/.config/starship.toml
!/.config/commit_template.txt
!/.config/alacritty/
!/.config/alacritty/alacritty.toml
!/.config/nvim/
!/.config/nvim/*.lua
!/.config/nvim/lua/
!/.config/nvim/lua/**
!/.config/tmux/
!/.config/tmux/tmux.conf
!/.config/zsh/
!/.config/zsh/*.zsh
!/.config/sway/
!/.config/sway/config
!/.config/waybar/
!/.config/waybar/*
!/.config/wofi/
!/.config/wofi/*

!/.zshrc

!/README.md
!/LICENSE
!/.gitignore
!/install
