/*
/.**

!/docs/
!/docs/*.md

!/packages/
!/packages/*.txt

!/scripts/
!/scripts/*.sh

!/imgs/
!/imgs/wallpaper.png

!/.github/
!/.github/**

!/.config/
!/.config/commit_template.txt
!/.config/alacritty/
!/.config/alacritty/alacritty.toml
!/.config/nvim/
!/.config/nvim/*.lua
!/.config/nvim/lua/
!/.config/nvim/lua/**
!/.config/tmux/
!/.config/tmux/tmux.conf
!/.config/fish/
!/.config/fish/config.fish
!/.config/hypr/
!/.config/hypr/hyprland.conf
!/.config/kitty/
!/.config/kitty/*.conf
!/.config/waybar/
!/.config/waybar/config.jsonc
!/.config/waybar/style.css
!/.config/wofi/
!/.config/wofi/style.css
!/.config/mako/
!/.config/mako/config

!/.zshrc

!/README.md
!/LICENSE
!/.gitignore
!/install
