* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 10px;
  font-weight: bold;
  border-bottom: #fff solid 2px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.4);
}
