* {
  font-family: "Hack Nerd Font", FontAwesome, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(15, 18, 26, 0.95);
  color: #eeeeee;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

label.module,
box.module {
  padding: 0 8px;
  color: #eeeeee;
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeee;
  transition-property: color;
  transition-duration: 0.1s;
}

#workspaces button.focused,
#workspaces button.active {
  color: #d27979;
}

#tray * {
  padding: 0 5px;
}
