window {
  margin: 0;
}

#input {
  margin: 5px 5px 0 5px;
  background-color: #222222;
  border: none;
  border-radius: 0;
}

#inner-box {
  background-color: #222222;
  border: none;
  border-radius: 0;
}

#outer-box {
  background-color: #111111;
}

#scroll {
  background-color: #111111;
  margin: 5px;
  border: none;
  border-radius: 0;
}

#text {
  color: #ffffff;
}

#entry {
  background-color: #111111;
}

#entry:selected {
  background-color: #bf616a;
  outline: none;
}
