name: Mirror

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Push to GitLab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          git remote add gitlab https://yuta31:$GITLAB_TOKEN@gitlab.com/yuta31/dotfiles.git
          git push gitlab main
      - name: Push to CodeBerg
        env:
          CODEBERG_TOKEN: ${{ secrets.CODEBERG_TOKEN }}
        run: |
          git remote add codeberg https://yutadev:$CODEBERG_TOKEN@codeberg.org/yutadev/dotfiles.git
          git push codeberg main
